/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #2b8a3e
COLOR GREY: #343a40


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    font-family: 'Inter', sans-serif;
    color: #343a40;
}

.container {
    width: 960px;
    margin: 0 auto;
  }

h1{
    margin-bottom: 24px;
}

h2{
    margin-bottom: 12px;
}

p{
    margin-bottom: 24px;
}

/* HEAD */
.head{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
    background-color: #2b8a3e;
    border-radius: 24px;
}

.group-logo{
    width: 200px;
    height: auto;
    margin: 12px;
    stroke: white;
}

.group-description{
    padding: 12px;
    color: white;
}

/* BODY */
table{
    width: 960px;
    border-radius: 12px;
}

th,
td{
    padding: 16px 24px;
    text-align: left;
}

thead th{
    background-color: #2b8a3e;
    color: white;
}

tbody tr:nth-child(odd)
{
    background-color: white;
}

tbody tr:nth-child(even)
{
    background-color: #e9ecef;
}

